.page__head {
  
  .page-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $light-gray;
    &:after {
      content: "";
      display: table;
      width: 100%;
      min-height: 300px;
      padding-top: 50%;
    }
  }
}

.author-meta {
  .reading-time {
    color: rgba(0, 0, 0, .44);
  }
}