.mainheading {
  .post-attributes {
    .reading-time {
      color: $light-gray;
    }
  }
}

.share {
  a {
    &:hover {
      .fab {
        color: $brand-color;
      }
    }
  }
}

blockquote {
  cite {
    color: #a1a1a1;
    display: block;
    font-size: 0.66667em;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.15em;
    margin-top: 1em;
    text-transform: uppercase;
    text-align: right;
  }
}

.before-post-tags {
  display: inline-block;

  ul.tags {
    margin-bottom: 1rem;
  }
}